@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Croissant+One&family=Fuggles&family=IBM+Plex+Sans:wght@100;400&family=Josefin+Sans:wght@100&family=Lilita+One&family=Martian+Mono:wght@300&family=PT+Serif:ital,wght@1,700&family=Young+Serif&display=swap');
body{
    max-width: 1440px;
    max-height: 2477px;
    background: #fff;
    font-family: IBM Plex Sans;
    display:grid;
}
button{
    cursor: pointer;
}
header{
    width: 1440px;
    height: 72px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
    display: flex;
}
.logo{
    margin: 24px 0 24px 72px;
}
.logo img{
    width: 162.566px;
    height: 24px;
    flex-shrink: 0;
}
#search{
    border: none;
    margin: 16px 0 14px 360px;
    width: 360px;
    height: 42px;
    border-radius: 21px;
    background: #F2F2F2;
    text-align: center;
    color: #5C5C5C;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.search img{
    position: absolute;
    width: 22px;
    height: 22px;
    margin: 24px 0 26px 370px;
}
.create p{
    margin:27px 0 24px 261px;
    color: #2E2E2E;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}
.create p span{
    color: #2F6CE5;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.drop-down{
    margin-top:27px ;
}
.banner img{
    width: 1440px;
    height: 440px;
    flex-shrink: 0;
}
.text{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.60) 100%);
    position: absolute;
}
.text h3{
    margin:286px 0 0 200px;
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.text p{
    margin: 0 0 80px 200px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#menu-bar{
    display: flex;
}
.menu{
    margin-left: 140px;
}
.menu ul{
    list-style: none;
    display: flex;
    color: #8A8A8A;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}
.menu li{
    padding: 20px;
    cursor:pointer;
}
.write-post{
    margin-left: 310px;
}
.write-post p{
    padding: 8px 0 0 12px;
    box-sizing: border-box;
    width: 133px;
    height: 36px;
    border-radius: 4px;
    background: #EDEEF0;
}
.write-post img{
    position: absolute;
    width: 22px;
    height: 22px;
    margin: 23px 0 0 105px;
}
.join-group{
    text-align:start ;
    border-radius: 4px;
    background: #2F6CE5;
    width: 125px;
    height: 36px;
    margin: 17px 0 0 10px;
    border: none;
}
.join p{
    margin:25px 0 0 48px ;
    position: absolute;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.hr{
    margin-left: 200px;
    margin-top: -20px;
    border: 1px sold black;
    width: 1040px;
    height: 1px;
    background: #E0E0E0;
}
.location{
    position: absolute;
    
}
.list{
    display: flex;
}
.list .gps{
    margin-top: 22px;
    margin-left: 997px;
    width: 18px;
    height: 18px;
}
.list p{
    margin-left: 4px;
    margin-top: 22px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.list .pencil{
    margin-top: 10px;
    margin-left: 124px;
}
.hr2{
    width: 243px;
    margin-left: 1000px;
height: 0.4px;
background: #B8B8B8;
margin-top: -4px;

}
.written .write{
    margin-left: 999px;
    margin-top: 38px;
    width: 16px;
height: 16px;
flex-shrink: 0;
opacity: 0.5;
}
.written p{
    width: 220px;
    margin-left: 1023px;
    margin-top: -25px;
    color: #000;
font-family: IBM Plex Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.card-text{
    margin-left: 20px;
    margin-top: -10px;
    width: 600px;
    height: 60px;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 29.517px;
}
.dot img{
    position: absolute;
    margin: -80px 0 0 624px;
    width: 28px;
    height: 28px;
}
.sub-heading p{
    margin-left: 20px;
    width: 652px;
    color: #5C5C5C;
    font-family: IBM Plex Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 134.167%; /* 25.492px */
}
.card-tail {
    display: flex;
}
.card-tail .profile{
    margin-left: 20px;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.card-tail h3{
    margin-left: 10px;
    color: #000;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.card-tail .eye{
    margin-left: 292px;
    margin-top: 15px;
    width: 18px;
    height: 18px;
}
.card-tail p{
    margin-left: 8px;
    color: #525252;
    text-align: right;
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.card-tail .share img{
    margin-left:40px ;
    width: 42px;
height: 36px;
flex-shrink: 0;
border-radius: 2px;
background: #EDEEF0;
}
.calender,.job{
    display: flex;
    margin-top: -50px;
    margin-left: 20px;
}
.calender p{
    color: #000;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.gps-on{
    margin-left: 40px;
}
.visit{
    margin-left: 20px;
    margin-bottom: 32px;
    width: 652px;
    height: 38px;
    border-radius: 8px;
    border: 0.7px solid #A9AEB8;
    background: #FFF;
    color: #E56135;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 140.4%; /* 18.252px */
    cursor: pointer;
}
.apply{
    margin-left: 20px;
    margin-bottom: 32px;
    width: 652px;
    height: 38px;
    border-radius: 8px;
    border: 0.7px solid #A9AEB8;
    background: #FFF;
    color: #02B875;
text-align: center;
font-family: IBM Plex Sans;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: 140.4%; /* 18.252px */
cursor: pointer;
}
.job p{
    color: #000;
    font-family: IBM Plex Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
